body {
	background-image: url(../images/symphony.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	margin: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#top {
  height: 65px;
  border: 1px solid #cccccc;
	background-color: #ffffff;
}

#nav {
	background-color: #ffffff;
	padding-top: 5px;

}
#header {
	text-align: center;
  background-color: #4aaaa5;
	color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;

}

.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
   display: inline-block;
}

h3 {
  color: #4aaaa5;
	margin-right: 10px;
	border-bottom: 2px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#fix_content {
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#links {
	margin-left: 40px;
}

.col-md-8 {
  border: 1px solid #cccccc;
	background-color: #ffffff;
}

.col-xs-11 {
	margin-left: 15px;
	margin-top: 25px;
}

.col-md-3 {
  border: 1px solid #cccccc;
	background-color: #ffffff;
	padding-bottom: 20px;
	margin-left: 15px;
}

.cats, .nature, .fashion, .city, .nightlife  {
	width: 270px;
}

p.image_cats, p.image_nature, p.image_fashion, p.image_city, p.image_nightlife{
	width: 270px;
	background-color: #4aaaa5;
  text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	position: relative;
	bottom: 40px;
}

.img-responsive{
	padding: 0px;
	margin: 0px;
}

#fix_footer {
height: 50px;
}

.footer {
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
}

@media (min-width: 992px){

	 #wrap_all_pic {
		margin-left: 0px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	 li {
		 padding-left: 20px;
	 }

	 #wrap_all_pic {
		margin-left: 20px;
	}

}

@media (min-width: 640px) and (max-width: 767px){

	 li {
		 padding-left: 85px;
	 }

	 .col-xs-11 {
		 width: 350px;
	 }

	 #wrap_all_pic {
		 margin-left: 10px;
	 }

}

@media (min-width: 400px) and (max-width: 639px){

	 li {
		 padding-left: 30px;
	 }

	 #wrap_all_pic {
		 margin-left: 20px;
	 }

}
